<h2>My Heroes</h2>

<ul class="heroes">
  <li *ngFor="let hero of heroes" (click)="onSelect(hero)" [class.selected]="hero === selectedHero">
    <!-- The *ngFor is Angular's repeater directive. It repeats the host element for each element in a list.-->
    <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li>
</ul>

<app-hero-detail [hero]="selectedHero"></app-hero-detail>

<!-- Two-way binding
  [(ngModel)] is Angular's two-way data binding syntax.

Here it binds the hero.name property to the HTML textbox
so that data can flow in both directions:
from the hero.name property to the textbox,
 and from the textbox back to the hero.name.
-->