<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
    <button class="delete" title="delete hero" (click)="delete(hero)">x</button>
  </li>
</ul>
<div>
  <label>Hero name:
    <input #heroName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(heroName.value); heroName.value=''">
    add
  </button>
</div>

<!-- Two-way binding
  [(ngModel)] is Angular's two-way data binding syntax.

Here it binds the hero.name property to the HTML textbox
so that data can flow in both directions:
from the hero.name property to the textbox,
 and from the textbox back to the hero.name.
-->